<h1>new category: </h1>

<form method="POST" action="">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn" type="submit" value="Create Category">
</form>

<h2>Category List:</h2>
{% comment %} <ul>
  {% for category in categories %}
    <li>{{ category.title }}</li>
  {% endfor %}
</ul> {% endcomment %}
{% for category in categories %}

  <p> {{category.title}} </p>
  
  <a href="{% url 'update-category' category.id %}"> edit </a>

  {% comment %} <a href="{% url 'delete-category' category.id %}"> delete </a> {% endcomment %}

  {% comment %} <p> {{task.completed}} </p>

  <p> {{task.due_date}} </p> {% endcomment %}

{% endfor %}

{% comment %} {% for category in categories %}

  <p> {{category}} </p> {% endcomment %}
  
  {% comment %} <a href="{% url 'update-task' task.id %}"> edit </a> {% endcomment %}

  {% comment %} <a href="{% url 'delete-task' task.id %}"> delete </a> {% endcomment %}

  {% comment %} <p> {{task.completed}} </p>

  <p> {{task.due_date}} </p> {% endcomment %}

{% comment %} {% endfor %} {% endcomment %}