<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Task</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      <!-- Delete Task Confirmation -->
      <h1>Delete Task</h1>
      <p>Apakah Anda yakin ingin menghapus "{{ task.title }}"?</p>

      <!-- Delete Form -->
      <form method="POST" action="">
        {% csrf_token %}
        <input class="btn" type="submit" value="Confirm Delete" />
      </form>

      <!-- Cancel Link -->
      <a href="{% url 'todo-list' %}" class="cancel-link">Cancel</a>
    </div>
  </body>
</html>
