<h1>new task: </h1>

<form method="POST" action="/">
  
  {% csrf_token %}
  {{ TaskForm.as_p }} 
  {% comment %} {{ TaskForm.title.label_tag }} {{ TaskForm.title }}
  {{ TaskForm.category.label_tag }} {{ TaskForm.category }}
  {{ TaskForm.completed.label_tag }} {{ TaskForm.completed }} {% endcomment %}

  <input class="btn" type="submit" name="Create Task">
  
</form>

{% for task in tasks %}

  <p> {{task}} </p>
  
  <a href="{% url 'update-task' task.id %}"> edit </a>

  <a href="{% url 'delete-task' task.id %}"> delete </a>

  {% comment %} <p> {{task.completed}} </p>

  <p> {{task.due_date}} </p> {% endcomment %}

{% endfor %}

{% comment %} <h2>Categories:</h2>
<ul>
  {% for category in categories %}
    <li>{{ category.name }}</li>
  {% empty %}
    <li>No categories available.</li>
  {% endfor %}
</ul> {% endcomment %}